<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMS Spam Detector App</title>

    <link rel="stylesheet" href="{{url_for('static', filename='./css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
  </head>

  <body>
    <div class="jumbotron text-center" style="border-radius:0;">
      <div class="container">
        <h2 class="font-weight-bold"> <span class="text-danger">SMS Spam Detector </span>for Short Messages</h2>
        <p class="font-italic text-info">A Machine Learning Web Application Built With Flask</p>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
      <form action="{{url_for('predict')}}" method="post" style="text-align:center;">
        <div class="form-group" style="">
          <label>Text</label>
          <textarea name="textquery" spellcheck="True" class="form-control text-center" style="resize:none;" placeholder="Input message here" required='required'></textarea>
        </div>
        <br>
        <div class="form-group">
          <button type="submit" class="btn btn-info" name="button">Predict</button>
        </div>
      </form>
    </div>
    <br><br>

    <!-- Footer -->
  <footer class="page-footer font-small">

    <!-- Footer Elements -->
    <div class="container">

      <!-- Social buttons -->
      <ul class="list-unstyled list-inline text-center">
        <li class="list-inline-item">
          <a href="https://www.linkedin.com/in/yinka-mustapha-yusuf-1b607419b" class="btn-floating btn-li mx-1" target="_blank">
            <i class="fab fa-linkedin-in"> </i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="https://github.com/Mustaphayinka" class="btn-floating btn-dribbble mx-1" target="_blank">
            <i class="fab fa-github"></i></a>
        </li>
      </ul>
      <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

  </footer>
  <!-- Footer -->
  </body>
</html>
